
html,body
{
    margin: 0;
    padding: 0;

    
}
.card-body
{
    size: cm;
}
#shr_baslik
{
    text-align: center;

   font-family: Verdana, Geneva, Tahoma, sans-serif
}

.hobi_slider
{
   height: 400px;
}

.slider_resim
{

   height: 600px;
 }

.izmir_baslik{
    background-color:rgb(159, 209, 221);
}
#efes{
    
    color:rgb(0, 0, 0);
}

h1{
    text-align: center;
    font-size: 25pxpx;

color: black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Radio Canada', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Tapestry', cursive;
}
h3{ 
    
    text-align: center;
    font-size: 25pxpx;
    font-weight: bold;
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Tapestry', cursive;
}
h5{
    text-align: center;
    color: antiquewhite;
    font-size: 25px;
    font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 26px;
       
    font-family: 'Radio Canada', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;
}
body{
       
        font-size: 20px;
       
        font-family: 'Radio Canada', sans-serif;

        font-family: 'Roboto Condensed', sans-serif;
   }

  .anaresim{
    max-width: 100%;
    height: auto;
    position: relative;
    
  }
 
  .container-fluid {
      
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .button {
    position: absolute;
    background-color: #dd8282;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    top: 100%;
    left: 30%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .resim1{
      align-items: center;
    border-radius: 50%;
    max-width: 35%;
    max-height: 80%;

    display: flex;
    justify-content: center;
  }
  .hr1
  {
 
    border: 10px solid rgb(35, 75, 87);
    border-radius: 5px;
  }


  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 70%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #9e8f0c;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }


.container-fluid0{
  background: url('img/Egitim_Anasayfa.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}





  

  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: #c2ced6d0;
    font-family: 'Poppins', sans-serif;
  }
  
  ul li {

    
    display: inline-block;
    list-style: none;
    margin: 5px;
   
  }
  ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #262626;
    position: relative;
    transition: all 0.5s ease;
    font-weight: 700;
  }
  ul li a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 40px;
    background: #262626;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transition: all 1.5s cubic-bezier(.43, 1.91, .351, .74);
    z-index: -1;
    border-radius: 0 50px;
  }
  ul li:hover a:after {
    transform: translate(-50%, -50%) rotate(160deg) scale(1.2);
  }
  ul li:hover a {
    color: #fff;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.9);
  }
  
.container basket image{
  width: 400px;
  height: auto;
}







