@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


.container{
    padding: 20px 70px;
    color:#fff;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding:20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}


.future-forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: sticky;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 12px;
}


@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}













.container-fluid0{
    background: url('img/sorf.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  

  .button {
    position: absolute;
    background-color: #dd8282;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    top: 100%;
    left: 30%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }



















h1{
    text-align: left;
    font-size: 25pxpx;

color: black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Radio Canada', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Tapestry', cursive;
}
h3{ 
    
    text-align: center;
    font-size: 25pxpx;
    font-weight: bold;
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Tapestry', cursive;
}
h5{
    text-align: center;
    color: antiquewhite;
    font-size: 25px;
    font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 23px;
       
    font-family: 'Radio Canada', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;
}


  
ul li {

    
    display: inline-block;
    list-style: none;
    margin: 5px;
   
  }
  ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #262626;
    position: relative;
    transition: all 0.5s ease;
    font-weight: 700;
  }
  ul li a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 40px;
    background: #262626;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transition: all 1.5s cubic-bezier(.43, 1.91, .351, .74);
    z-index: -1;
    border-radius: 0 50px;
  }
  ul li:hover a:after {
    transform: translate(-50%, -50%) rotate(160deg) scale(1.2);
  }
  ul li:hover a {
    color: #fff;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.9);
  }
  






.havadurumu{

    background:url('hava2.jpeg');

    
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}